body {
  transform: scale(0.67);
  transform-origin: top left;
}

.tab-1,
.tab-1 * {
  box-sizing: border-box;
}
.tab-1 {
  background: #ffffff;
  height: 5000px;
  position: relative;
  overflow: hidden;
}
.button-next {
  background: #000000;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 8px 97px 8px 97px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 14.47%;
  position: absolute;
  right: 24.52%;
  left: 61.01%;
  top: 3192px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.next {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 70px;
  font-weight: 600;
  position: relative;
}
.thong-tin-phong {
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 41.52%;
  position: absolute;
  right: 55.37%;
  left: 3.11%;
  top: 2551px;
}
.frame-tieu-de-4 {
  flex-shrink: 0;
  width: 1016px;
  height: 113px;
  position: relative;
}
.tieu-de-4 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 45px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 0px;
}
.giai-thich-tieu-de-4 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 30px;
  font-weight: 300;
  opacity: 0.5;
  position: absolute;
  left: 0px;
  top: 68px;
}
.hang-4-1 {
  flex-shrink: 0;
  width: 1016px;
  height: 57px;
  position: relative;
}
.guests {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
}
.so-luong-41 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 149px;
  position: absolute;
  left: 867px;
  top: 0px;
}
.image-button-4 {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.Sl {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 38px;
  font-weight: 500;
  position: relative;
}
.hang-4-2 {
  flex-shrink: 0;
  width: 1015px;
  height: 57px;
  position: relative;
}
.bedrooms {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
}
.so-luong-42 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  width: 148px;
  position: absolute;
  left: 867px;
  top: 0px;
}
.hang-4-3 {
  flex-shrink: 0;
  width: 1016px;
  height: 57px;
  position: relative;
}
.beds {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
}
.so-luong-43 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  width: 149px;
  position: absolute;
  left: 867px;
  top: 0px;
}
.hang-4-4 {
  flex-shrink: 0;
  width: 1016px;
  height: 57px;
  position: relative;
}
.bathrooms {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
}
.so-luong-44 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 149px;
  position: absolute;
  left: 867px;
  top: 0px;
}
.thong-tin-vi-tri {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 44.3%;
  position: absolute;
  right: 52.68%;
  left: 3.02%;
  top: 1782px;
}
.frame-tieu-de-3 {
  flex-shrink: 0;
  width: 1084px;
  height: 113px;
  position: relative;
}
.tieu-de-3 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 45px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1084px;
}
.giai-thich-tieu-de-3 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 30px;
  font-weight: 300;
  opacity: 0.5;
  position: absolute;
  left: 0px;
  top: 68px;
  width: 1084px;
}
.country-region {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  opacity: 0.5;
  position: absolute;
  left: 31px;
  top: 16px;
}
.button-detail {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 924px;
  top: 16px;
  object-fit: cover;
}
.form-3 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 15px 31px 15px 31px;
  flex-shrink: 0;
  width: 1022px;
  height: 83px;
  position: relative;
}
.street-address {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  opacity: 0.5;
  position: absolute;
  left: 31px;
  top: 15px;
}
.apt-floor-bldg-if-applicable {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  opacity: 0.5;
  position: absolute;
  left: 31px;
  top: 16px;
}
.city-town-village {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  opacity: 0.5;
  position: absolute;
  left: 31px;
  top: 16px;
}
.province-state-territory-if-applicable {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  opacity: 0.5;
  position: absolute;
  left: 31px;
  top: 16px;
}
.postal-code-if-applicable {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  opacity: 0.5;
  position: absolute;
  left: 31px;
  top: 16px;
}
.chon-kieu-nha {
  display: flex;
  flex-direction: column;
  gap: 58px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 47.36%;
  position: absolute;
  right: 49.78%;
  left: 2.86%;
  top: 1067px;
}
.frame-tieu-de-2 {
  padding: 10px;
  flex-shrink: 0;
  width: 847px;
  height: 88px;
  position: relative;
}
.tieu-de-2 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 45px;
  font-weight: 500;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 827px;
}
.an-entire-place {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
}
.image-13 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1059px;
  top: 10px;
  object-fit: cover;
}
.guests-have-the-whole-place-to-themselves {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  opacity: 0.5;
  position: absolute;
  left: 16px;
  top: 60px;
}
.button_2 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 16px 10px 16px;
  flex-shrink: 0;
  width: 1159px;
  height: 108px;
  position: relative;
  overflow: hidden;
}
.a-room {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
}
.image-14 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1059px;
  top: 10px;
  object-fit: cover;
}
.guests-have-their-own-room-in-a-home-plus-access-to-shared-spaces {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  opacity: 0.5;
  position: absolute;
  left: 16px;
  top: 60px;
}
.a-shared-room {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 10px;
}
.image-15 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1058px;
  top: 10px;
  object-fit: cover;
}
.guests-sleep-in-a-room-or-common-area-that-may-be-shared-with-you-or-others {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  opacity: 0.5;
  position: absolute;
  left: 15px;
  top: 60px;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  gap: 65px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 39.84%;
  position: absolute;
  right: 57.29%;
  left: 2.86%;
  top: 185px;
}
.frame-tieu-de-1 {
  padding: 10px;
  flex-shrink: 0;
  width: 975px;
  height: 88px;
  position: relative;
}
.tieu-de-1 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 45px;
  font-weight: 500;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 955px;
}
.hang-1-1 {
  flex-shrink: 0;
  width: 743px;
  height: 125px;
  position: relative;
}
.button-111 {
  width: 213px;
  height: 125px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle {
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.image-1 {
  width: 32.86%;
  height: 56%;
  position: absolute;
  right: 57.28%;
  left: 9.86%;
  bottom: 42.4%;
  top: 1.6%;
  object-fit: cover;
}
.house {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 38.97%;
  left: 9.86%;
  width: 51.17%;
  bottom: 0%;
  top: 57.6%;
  height: 42.4%;
}
.button-112 {
  width: 213px;
  height: 125px;
  position: absolute;
  left: 265px;
  top: 0px;
}
.aparment {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 8.45%;
  left: 8.45%;
  width: 83.1%;
  bottom: 1.6%;
  top: 56%;
  height: 42.4%;
}
.image-2 {
  width: 32.86%;
  height: 56%;
  position: absolute;
  right: 62.44%;
  left: 4.69%;
  bottom: 44%;
  top: 0%;
  object-fit: cover;
}
.button-113 {
  width: 213px;
  height: 125px;
  position: absolute;
  left: 530px;
  top: 0px;
}
.cabin {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 41.78%;
  left: 8.45%;
  width: 49.77%;
  bottom: 0%;
  top: 57.6%;
  height: 42.4%;
}
.image-3 {
  width: 32.86%;
  height: 56%;
  position: absolute;
  right: 62.44%;
  left: 4.69%;
  bottom: 44%;
  top: 0%;
  object-fit: cover;
}
.hang-1-2 {
  flex-shrink: 0;
  width: 743px;
  height: 125px;
  position: relative;
}
.button-121 {
  width: 213px;
  height: 125px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.image-4 {
  width: 32.86%;
  height: 56%;
  position: absolute;
  right: 55.87%;
  left: 11.27%;
  bottom: 44%;
  top: 0%;
  object-fit: cover;
}
.farm {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 47.42%;
  left: 9.86%;
  width: 42.72%;
  bottom: 0%;
  top: 57.6%;
  height: 42.4%;
}
.button-122 {
  width: 213px;
  height: 125px;
  position: absolute;
  left: 265px;
  top: 0px;
}

.image-5 {
  width: 32.86%;
  height: 56%;
  position: absolute;
  right: 58.69%;
  left: 8.45%;
  bottom: 44%;
  top: 0%;
  object-fit: cover;
}
.tiny-home {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 6.1%;
  left: 8.45%;
  width: 85.45%;
  bottom: 0%;
  top: 57.6%;
  height: 42.4%;
}
.button-123 {
  width: 213px;
  height: 125px;
  position: absolute;
  left: 530px;
  top: 0px;
}
.image-6 {
  width: 32.86%;
  height: 56%;
  position: absolute;
  right: 62.44%;
  left: 4.69%;
  bottom: 42.4%;
  top: 1.6%;
  object-fit: cover;
}
.houseboat {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 5.16%;
  left: 4.69%;
  width: 90.14%;
  bottom: 0%;
  top: 57.6%;
  height: 42.4%;
}
.hang-1-3 {
  display: flex;
  flex-direction: row;
  gap: 52px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button-133 {
  flex-shrink: 0;
  width: 213px;
  height: 125px;
  position: relative;
}
.container {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 9.39%;
  left: 8.92%;
  width: 81.69%;
  bottom: 0%;
  top: 57.6%;
  height: 42.4%;
}
.image-31 {
  width: 32.86%;
  height: 56%;
  position: absolute;
  right: 58.22%;
  left: 8.92%;
  bottom: 44%;
  top: 0%;
  object-fit: cover;
}
.button-132 {
  flex-shrink: 0;
  width: 213px;
  height: 125px;
  position: relative;
}
.earth-home {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 2.82%;
  left: 2.35%;
  width: 94.84%;
  bottom: 0%;
  top: 57.6%;
  height: 42.4%;
}
.image-8 {
  width: 32.86%;
  height: 56%;
  position: absolute;
  right: 62.91%;
  left: 4.23%;
  bottom: 42.4%;
  top: 1.6%;
  object-fit: cover;
}
.button-131 {
  flex-shrink: 0;
  width: 213px;
  height: 125px;
  position: relative;
}
.tent {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 55.4%;
  left: 8.92%;
  width: 35.68%;
  bottom: 0%;
  top: 57.6%;
  height: 42.4%;
}
.image-9 {
  width: 32.86%;
  height: 56%;
  position: absolute;
  right: 56.81%;
  left: 10.33%;
  bottom: 42.4%;
  top: 1.6%;
  object-fit: cover;
}
.hang-1-4 {
  flex-shrink: 0;
  width: 743px;
  height: 125px;
  position: relative;
}
.button-141 {
  width: 213px;
  height: 125px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.windmill {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 19.25%;
  left: 9.86%;
  width: 70.89%;
  bottom: 0%;
  top: 57.6%;
  height: 42.4%;
}
.image-10 {
  width: 32.86%;
  height: 56%;
  position: absolute;
  right: 57.28%;
  left: 9.86%;
  bottom: 44%;
  top: 0%;
  object-fit: cover;
}
.button-142 {
  width: 213px;
  height: 125px;
  position: absolute;
  left: 265px;
  top: 0px;
}
.tower {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 42.25%;
  left: 8.45%;
  width: 49.3%;
  bottom: 0%;
  top: 57.6%;
  height: 42.4%;
}
.image-12 {
  width: 32.86%;
  height: 56%;
  position: absolute;
  right: 57.28%;
  left: 9.86%;
  bottom: 42.4%;
  top: 1.6%;
  object-fit: cover;
}
.button-143 {
  width: 213px;
  height: 125px;
  position: absolute;
  left: 530px;
  top: 0px;
}
.treehouse {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 5.63%;
  left: 8.45%;
  width: 85.92%;
  bottom: 0%;
  top: 57.6%;
  height: 42.4%;
}
.image-11 {
  width: 32.86%;
  height: 56%;
  position: absolute;
  right: 55.87%;
  left: 11.27%;
  bottom: 42.4%;
  top: 1.6%;
  object-fit: cover;
}
.tieu-de-tong {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 55px;
  font-weight: 700;
  position: absolute;
  left: 3%;
  top: 56px;
  width: 974px;
  height: 75px;
}
.button-111, .button-112, .button-113, .button-121, .button-122, .button-123, 
.button-131, .button-132, .button-133, .button-141, .button-142, .button-143, 
.button_2{
  display: inline-block;
  padding: 10px 20px;
  border: 3px solid #e6dada;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  background: #ffffff;
  transition: border-color 0.3s ease;
}
.button-111:hover, .button-112:hover, .button-113:hover, .button-121:hover, .button-122:hover, .button-123:hover,
.button-131:hover, .button-132:hover, .button-133:hover, .button-141:hover, .button-142:hover, .button-143:hover,
.button_2:hover {
  border-color:rgb(227, 221, 221);
}

input[type="text"] {
  padding: 8px 10px; 
  font-size: 35px;
  height: 56px;
  width: 100%; 
  border: none; 
  outline: none;
}
input[type="text"]::placeholder {
  color: #000000;
  text-align: left; 
  font-family: "Poppins-Regular", sans-serif; 
  font-size: 35px; 
  font-weight: 400; 
  opacity: 0.5;
} 
