@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.open{
    display: block !important;
}

.close{
    display: none !important;
}

#content{
    margin-top: 150px;
    font-weight: 500;
}

.tool_trip{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.add_hotel button{
    padding: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.add_hotel button i{
    font-size: 17px;
    color: #000;
}

.hotel_container{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.img_hotel{
    position: relative;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 2px #000;
    cursor: pointer;
    background: url('/assets/img/img_product/2b9983af-5542-42e4-b5a3-2867477b53ae.jpg') top center /cover no-repeat;
}

.infor_hotel{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.name_hotel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin-left: 15px;
}

.name_hotel span{
    font-weight: 700;
}

.date_check p{
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
}

.date_check span{
    color: #7c7979;
}

.price span{
    font-weight: 600;
}

@media screen and (max-width: 46.1875em){
    .nav_languages{
        display: none !important;
    }
}