@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.center{
    display: flex !important;
    justify-content: center;
}

.open{
    display: block !important;
}

.active{
    display: flex !important;
}

.close{
    display: none !important;
}
#content{
    margin-top: 150px;
    font-weight: 500;
}

.tool_wish{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.remove_btn_general button{
    padding: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.remove_btn_general button i{
    font-size: 17px;
}

.hotel_container{
    margin-bottom: 40px;
}

.img_hotel{
    position: relative;
    width: 100%;
    height: 362px;
    border-radius: 10px;
    border: 10px solid #fff;
    box-shadow: 0 0 2px #000;
    cursor: pointer;
    background: url('/assets/img/img_product/2b9983af-5542-42e4-b5a3-2867477b53ae.jpg') top center /cover no-repeat;
}

.remove_btn button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    background-color: rgba(119, 115, 115, 0.5);
    cursor: pointer;
}

.remove_btn button:hover{
    background-color: #fff;
}

.remove_btn button i{
    font-size: 17px;
    color: #000;
}

.check_remove{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    margin: 20px;
}

.check_remove button{
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
}

.checked{
    background-color: greenyellow;
}

.check_remove i{
    margin-top: 2px;
    font-size: 20px;
}

.name_hotel{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.name_hotel span{
    font-weight: 700;
}

.detail_hotel{
    color: #8f8d8d;
    margin-bottom: 10px;
}

.price span{
    font-weight: 600;
}

@media screen and (max-width: 46.1875em){
    .nav_languages{
        display: none !important;
    }
}